<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
    <body class="starting-page">
    <div class="container">
        <h2>Login</h2>

        <!-- If login fails (username OR password are incorrect), this error message displays. -->
        {% if error_message %}
        <div style="color: rgb(255, 255, 255); text-align: center; margin-bottom: 10px;">{{ error_message }}</div>
        {% endif %}

        <!-- HTML for the buttons and text boxes on the starting page. -->
        <form id="loginForm" action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <form action="/create_account" method="get">
            <input type="submit" value="Create an Account">
        </form>
        <div id="lastLogin"></div>
    </div>

    <script src="/static/js/script.js"></script>
    
    </body>
</html>

